html,
body {
  margin: 0;
  padding: 0;
}

.step {
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade_out 1s ease-in forwards;
}

.step:last-of-type {
  margin-bottom: 0;
}

.step.is-active {
  background-color: rgba(0, 255, 0, 0.5);
  animation: fade_in 1s ease-in forwards;
}

@keyframes fade_in {
  from {
    background-color: white;
  }
  to {
    background-color: rgba(0, 255, 0, 0.5);
  }
}

@keyframes fade_out {
  from {
    background-color: rgba(0, 255, 0, 0.5);
  }
  to {
    background-color: white;
  }
}

.clickable {
  margin: 10% 10%;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 255, 0, 0.2);
  cursor: pointer;
}
